@model ClienteModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BemVindo @Model.Nome</h1>
    <p>Eder BarberShop</p>
    <span> Seu Endereço é @Model.Endereco </span>
    <span> "Seu telefone é @Model.Telefone"</span>

</div>
